[submodule "02_docker/09_containerization/examples/netcore-react"]
	path = 02_docker/09_containerization/examples/netcore-react
	url = https://github.com/redapt/favorite-beer
[submodule "02_docker/02_docker/10_containerization/examples/netcore-react"]
	path = 02_docker/02_docker/10_containerization/examples/netcore-react
	url = https://github.com/redapt/favorite-beer
[submodule "02_docker/10_containerization/examples/netcore-react"]
	path = 02_docker/10_containerization/examples/netcore-react
	url = https://github.com/redapt/favorite-beer
